private.json
public.json

# Apple
.DS_Store*
.Spotlight-*
.Trashes
.fseventsd
Thumbs.db

# Python
*.py[cod]
*.egg
*.egg-info
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.venv
jupyter_notebook_config.*
